name: Regenerate Template Snapshot

on:
  push:
    paths-ignore:
      - 'templates.json'
      - 'README.md'
    branches:
      - main

env:
  CODESANDBOX_API_TOKEN: ${{ secrets.CODESANDBOX_API_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout head
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: v1.x
      
    - name: Run Deno Script
      run: deno run --allow-read --allow-net --allow-write --allow-env --unstable --allow-run .scripts/restart-changed-templates.ts
