name: Generate README

on:
  push:
    branches:
      - main
      - draft/thirsty-hill

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout PR head
      uses: actions/checkout@v3

    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: v1.x
      
    - name: Run Deno Script
      run: deno run --allow-read --allow-write --unstable --allow-run .scripts/generate-readme.ts

    - name: Add & Commit
      uses: EndBug/add-and-commit@v9.1.3
      with:
        message: 'Update README.md with new template info'
